.container {
    display: flex;
    height: 500px;
    border: 1px solid red;
    justify-content: space-evenly;
    flex-direction: column;
}

.flex-item {
    background-color: aqua;
    /* width: 100px; */
    height: 100px;
    margin: 2px;
    align-items: stretch;
}